{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<!-- DataTables CSS -->
<!-- link rel="stylesheet" type="text/css" href="{% static 'datatables/css/jquery.dataTables.css' %}" -->
<link rel="stylesheet" type="text/css" href="{% static 'datatables/css/dataTables.bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'datatables/css/bootstrap-switch.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'toastmessage/css/jquery.toastmessage.css' %}">
{% endblock %}

{% block content %}

<div id="course_list_container" class="container-fluid">

    <div class="col-md-8">
        <h3>DCE Course Admin</h3>
    </div>
    <div id="course_list_terms" class="form-inline col-md-4 text-right text-nowrap">
        <form method="GET" action="{% url 'course_admin' %}">
            <label for="term">Term</label>
            <select name="term" class="form-control">
                {% for term_id, term_name in terms %}
                <option value="{{ term_id }}" {% if term_id == selected_term %}selected="selected"{% endif %}>{{ term_name }}</option>
                {% endfor %}
            </select>
        </form>
    </div>

    <table id="course_list" class="table table-striped table-hover">
        <thead class="headers">
        <tr>
            <th class="text-nowrap" data-filter-by="search">Course </th>
            <th class="text-nowrap" data-filter-by="select">Public Syllabus </th>
            <th class="text-nowrap" data-filter-by="select">Default View </th>
            <th class="text-nowrap" data-filter-by="select">Published? </th>
            <th class="text-nowrap" data-filter-by="select">Public? </th>
        </tr>
        </thead>
    </table>

</div>

<div style="display:none">
    <div class="spinner_src">
        <h3>Loading. Please wait...</h3>
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="{% static 'js/jquery.cookie.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'js/jquery.truncate.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'datatables/js/jquery.dataTables.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'datatables/js/dataTables.bootstrap.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'datatables/js/bootstrap-switch.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'toastmessage/js/jquery.toastmessage.js' %}"></script>

<script type="text/javascript" charset="utf8">

    function iconLinkHtml(url, iconClass, css) {
        var a = $('<a target="_parent" class="btn btn-link btn-xs"><span class="glyphicon"></span></a>');
        $("span", a).addClass(iconClass);
        a.attr('href', url);
        if (typeof css !== 'undefined') {
            a.css(css);
        }
        return a.clone().wrap('<div>').parent().html();
    }

    function toggleHtml(name, course_id, checked) {
        checked = checked ? "checked" : "";
        var input = $('<input data-size="mini" data-on-text="Y" ' +
                      'data-off-text="N" type="checkbox" ' +
                      'class="course-toggle" ' + checked + '/>');
        input.attr('name', name);
        input.attr('data-course-id', course_id);
        return input.clone().wrap('<div>').parent().html();
    }

    function spinnerHtml() {
        return $(".spinner_src").clone().wrap('<div>').parent().html();
    }

    $(document).ready( function () {

        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            // include csrftoken with POST|PUT update requests
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        var table = $('#course_list').DataTable({
            ajax: {
                url: "{% url 'course_data' %}?term={{ selected_term }}",
                timeout: 60000// can take a while due to Canvas API requiring multiple reqs to fetch all course data
            },
            // to make sense of this batshit, see: https://datatables.net/reference/option/dom
            dom: 'irt<"paging row"lp>',
            order: [ 0, 'asc' ],
            "language": {
                "loadingRecords": spinnerHtml(),
                "emptyTable": "No courses found"
            },
            columns: [
                {
                    // course name & id
                    name: 'name',
                    data: function(row, type, val, meta) {
                        if (type == 'sort') {
                            return row.course_code;
                        } else if (type == 'display') {
                            var home_link = iconLinkHtml(
                                row.homepage_url,
                                'glyphicon-home',
                                {'margin-right': '1em'}
                            );
                            var course_title = '[' + row.course_code + '] '
                                + '<span class="course-name">'
                                + row.name + '</span>';
                            return home_link + course_title;
                        } else {
                            return row.name + ' ' + row.course_code;
                        }
                    }
                },
                {
                    // icon link to public syllabus
                    name: 'public_syllabus',
                    data: function(row, type, val, meta) {
                        if (type == 'display') {
                            if (row.public_syllabus) {
                                return iconLinkHtml(row.syllabus_url, 'glyphicon-list');
                            }
                            return "";
                        } else {
                            return (row.public_syllabus) ? 'Y': 'N';
                        }
                    }
                },
                {
                    name: 'default_view',
                    data: 'default_view'
                },
                {
                    name: 'is_published',
                    data: function (row, type, set, meta) {
                        var isPublished = (row.workflow_state == 'available');
                        if (type == 'set') {
                            row.workflow_state = set ? 'available': 'unpublished';
                            return
                        } else if (type == 'display') {
                            // don't show toggle for 'deleted', 'completed', etc
                            if (row.workflow_state == "available" || row.workflow_state == "unpublished") {
                                return toggleHtml('is_published', row.id, isPublished);
                            } else {
                                return "";
                            }
                        } else {
                            return isPublished ? 'Y' : 'N';
                        }
                    }
                },
                {
                    name: 'is_public',
                    data: function (row, type, set, meta) {
                        if (type == 'set') {
                            row.is_public = set;
                            return
                        } else if (type == 'display') {
                            return toggleHtml('is_public', row.id, row.is_public);
                        } else {
                            return row.is_public ? "Y" : "N";
                        }
                    }
                }
            ],
            drawCallback: function(settings, json) {
                $(".course-name").truncate({
                    width: 300,
                    token: '&hellip;',
                    side: 'right',
                    multiline: false,
                    addtitle: true
                });
                $(".course-toggle").bootstrapSwitch();
            },
            initComplete: function() {
                var api = this.api();

                // add select input filtering to appropriate columns
                api.columns(function(idx, data, node) {
                    return $(node).attr('data-filter-by') == 'select' ? true : false;
                }).indexes().flatten().each( function( idx ) {
                    var column = api.column(idx);
                    var select = $('<select class="column-filter form-control input-sm"><option value="">All</option></select>')
                        .appendTo($(column.header()))
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                            );
                            column.search(val ? '^' + val + '$' : '', true, false)
                                  .draw();
                        });
                    if (column.data().unique().length > 1) { // don't show for columns with only 1 unique value
                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                     }
                });

                // add search input filtering
                api.columns(function(idx, data, node) {
                    return $(node).attr('data-filter-by') == 'search' ? true : false;
                }).each( function(idx) {
                    var column = api.column(idx);
                    var input = $('<input class="column-filter form-control" type="text" placeholder="search"/>')
                            .appendTo($(column.header()))
                            .on('keyup change', function() {
                                column.search(this.value).draw();
                            });
                });

                // prevent clicks on filtering controls from bubbling up to the
                // column sorting event handler
                $(".column-filter").on('click', function(e) {
                    e.stopPropagation();
                });

                $(".column-filter").css({ display: 'block' });

                // attach handler to toggle switches
                $(".course-toggle").on('switchChange.bootstrapSwitch', function(event, state) {
                    var name = $(this).attr('name');
                    var course_id = $(this).attr('data-course-id');
                    var put_data = {
                        course_id: course_id,
                        name: name,
                        state: state
                    };
                    $.ajax({
                        url: "{% url 'update_course' %}",
                        data: put_data,
                        type: 'PUT',
                        dataType: 'json'
                    })
                    .fail(function(jqXHR, status, error) {
                        var data = jqXHR.responseJSON;
                        var row_selector = "#course-" + data.course_id;
                        var course_title = table.cell(row_selector, 'name:name').render('sort');
                        var msg = 'Error!<br/>Failed to set ' + data.name + ' = '
                                + data.state + ' for ' + course_title + '<br/>' + error;
                        $().toastmessage('showToast', {
                            type: 'error',
                            text: msg,
                            position: 'top-center',
                            sticky: true
                        });
                    })
                    .done(function(data, status, jqXHR) {
                        // update the table data
                        var row_selector = "#course-" + data.course_id;
                        var col_selector = data.name + ":name";
                        var cell = table.cell(row_selector, data.name + ":name");
                        var state = data.state == 'true'
                        cell.data(state).draw();
                        // notify success
                        var course_title = table.cell(row_selector, 'name:name').render('sort');
                        var msg = 'Success!<br/>Set ' + data.name + ' = '
                                + data.state + ' for ' + course_title;
                        $().toastmessage('showToast', {
                            type: 'success',
                            text: msg,
                            position: 'top-center'
                        });
                    });
                });
            }
        });

        $("#course_list_info").addClass('col-md-12');
        $("#course_list_length").addClass('col-md-4');
        $("#course_list_paginate").addClass('col-md-8');

        // refresh on term selection
        $('#course_list_terms form select').on('change', function() {
            $(this).closest('form').trigger('submit');
        });

    });
</script>

{% endblock %}
