{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'datatables/css/jquery.dataTables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'datatables/css/dataTables.bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'datatables/css/bootstrap-switch.css' %}">
{% endblock %}

{% block content %}
<table id="course_list" class="display">
    <thead>
    <tr>
        <th>
            <form method="GET" action="{% url 'course_admin' %}" class="inline-form">
            <select name="term" class="form-control">
                {% for term_id, term_name in terms.items %}
                <option value="{{ term_id }}" {% if term_id == selected_term %}selected="selected"{% endif %}>{{ term_name }}</option>
                {% endfor %}
            </select>
            </form>
        </th>
        <th data-filter-by="search">Course</th>
        <th data-filter-by="select">Syllabus</th>
        <th data-filter-by="select">Default View</th>
        <th data-filter-by="select">Status</th>
        <th data-filter-by="select">Published</th>
        <th data-filter-by="select">Public</th>
    </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Filter:</th>
            <th>Course</th>
            <th>Syllabus</th>
            <th>Default View</th>
            <th>Status</th>
            <th>Published</th>
            <th>Public</th>
        </tr>
    </tfoot>
</table>
{% endblock %}

{% block extra_js %}
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="{% static 'js/jquery.cookie.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'datatables/js/jquery.dataTables.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'datatables/js/dataTables.bootstrap.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'datatables/js/bootstrap-switch.js' %}"></script>

<script type="text/javascript" charset="utf8">

//    $.ajaxSetup({
//        url: "{% url 'update_course' %}",
//        dataType: 'json'
//    });

    function iconLinkHtml(url, iconClass, css) {
        var a = $('<a target="_parent" class="btn btn-link btn-xs"><span class="glyphicon"></span></a>');
        $("span", a).addClass(iconClass);
        a.attr('href', url);
        if (typeof css !== 'undefined') {
            a.css(css);
        }
        return a.clone().wrap('<div>').parent().html();
    }

    function toggleHtml(name, course_id, checked) {
        checked = checked ? "checked" : "";
        var input = $('<input data-size="mini" data-on-text="Y" ' +
                      'data-off-text="N" type="checkbox" ' +
                      'class="course-toggle" ' + checked + '/>');
        input.attr('name', name);
        input.attr('data-course-id', course_id);
        return input.clone().wrap('<div>').parent().html();
    }

    $(document).ready( function () {

        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $('#course_list form select').on('change', function() {
            $(this).closest('form').trigger('submit');
        });

        $('#course_list').DataTable({
            ajax: {
                url: "{% url 'course_data' %}?term={{ selected_term }}"
            },
            dom: "iprtl",
//            pageLength: 5,
            order: [ 1, 'asc' ],
            columns: [
                {
                    // icon links
                    name: 'icon-links',
                    orderable: false,
                    data: function(row, type, val, meta) {
                        var iconLinks = [];
                        iconLinks.push([iconLinkHtml(row.homepage_url, 'glyphicon-home')]);
                        if (_.has(row, 'calendar') && _.has(row.calendar, 'ics')) {
                            iconLinks.push([iconLinkHtml(row.calendar.ics, 'glyphicon-calendar')]);
                        }
                        return '<div class="btn-group">' + iconLinks.join(' ') + '</div>';
                    }
                },
                {
                    // course name & id
                    name: 'name',
                    data: function(row, type, val, meta) {
                        if (type == 'sort') {
                            return row.course_code;
                        }
                        return row.course_code + ', ' + row.name
                    }
                },
                {
                    // icon link to public syllabus
                    name: 'public_syllabus',
                    data: function(row, type, val, meta) {
                        if (type == 'display') {
                            if (row.public_syllabus) {
                                return iconLinkHtml(row.syllabus_url, 'glyphicon-list');
                            }
                            return "";
                        } else {
                            return (row.public_syllabus) ? 'Y': 'N';
                        }
                    }
                },
                {
                    name: 'default_view',
                    data: 'default_view'
                },
                {
                    name: 'status',
                    data: 'workflow_state'
                },
                {
                    name: 'is_published',
                    data: 'workflow_state',
                    render: function (data, type, row, meta) {
                        var isPublished = (data == 'available');
                        if (type == 'display') {
                            // don't show toggle for 'deleted', 'completed', etc
                            if (data == "available" || data == "unpublished") {
                                return toggleHtml('is_published', row.id, isPublished);
                            } else {
                                return "";
                            }
                        } else if (type == 'filter') {
                            return data;
                        } else {
                            return isPublished ? 'Y' : 'N';
                        }
                    }
                },
                {
                    name: 'is_public',
                    data: 'is_public',
                    render: function (data, type, row, meta) {
                        if (type == 'display') {
                            return toggleHtml('is_public', row.id, data);
                        } else if (type == 'filter') {
                            return data;
                        } else {
                            return data ? "Y" : "N";
                        }
                    }
                }
            ],
            drawCallback: function(settings, json) {
                $(".course-toggle").bootstrapSwitch();
            },
            initComplete: function() {
                var api = this.api();

                // add select input filtering to appropriate columns
                api.columns(function(idx, data, node) {
                    return $(node).attr('data-filter-by') == 'select' ? true : false;
                }).indexes().flatten().each( function( idx ) {
                    var column = api.column(idx);
                    if (column.data().unique().length > 1) { // don't show for columns with only 1 unique value
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                );
                                column.search(val ? '^' + val + '$' : '', true, false)
                                      .draw();
                            });
                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                    } else {
                        $(column.footer()).empty();
                    }
                });

                // add search input filtering
                api.columns(function(idx, data, node) {
                    return $(node).attr('data-filter-by') == 'search' ? true : false;
                }).each( function(idx) {
                    var column = api.column(idx);
                    var input = $('<input type="text" placeholder="search"/>')
                            .appendTo($(column.footer()).empty())
                            .on('keyup change', function() {
                                column.search(this.value).draw();
                            });
                });

                // attach handlers to toggle switches
                $(".course-toggle").on('switchChange.bootstrapSwitch', function(event, state) {
                    var name = $(this).attr('name');
                    var course_id = $(this).attr('data-course-id');
                    var put_data = {
                        course_id: course_id,
                        name: name,
                        state: state
                    };
                    var update = $.ajax({
                        url: "{% url 'update_course' %}",
                        data: put_data,
                        type: 'PUT',
                        dataType: 'json'
                    });
                    update.done(function(data) {
                        alert(data);
                    });
                });
            }
        });
    });
</script>

{% endblock %}
